body {
  background-image: url("background.jpg");
  background-size: 100%;
  }

header {
      padding-top: 100px;
}

#logo {
  font-size: 20%;
}

img {
  width: 20%;
}

#logo, h1, nav {
  text-align: center;
}

h1 {
  margin: 0;
  color: lime;
}

nav {
  background-color: lime;
  width: 800px;
  height: 40px;
  margin-left: 100px;
}

section > span {
  color: white;
  font-size: 20px;
  }

.gino, .mike, .fede {
  height: 30px;
  border-radius: 5px
}

.gino {
  background-color: orange;
  width: 250px;
  }

.mike {
  background-color: lime;
  width: 500px;
}

.fede {
  background-color: red;
  width: 150px;
}

.contenitore {
  background-color: rgba(0,0,0,0.5);
  width: 1000px;
  height: 670px;
  margin: auto;
  border-radius: 20px;
  margin-top: 20px;
}

section {
  padding-left: 100px;
  padding-top: 20px;
}

span:nth-of-type(1n+2) {
  font-size: 15px;
}

button {
  margin-top: 10px;
  font-size: 10px;
}
